.App {
  text-align: center;
}

.CommunityCard{
  margin: 5px;
}

.CommunityCardContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wr
  ap;
} 

form{
  display: flex;
  flex-direction: column;
}

.Contribute{
  display:flex;
  justify-content:space-evenly;
}