*{
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: lightblue;
}

.NavContainer{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.Footer img{
  width: 3%;
  margin-left: 10px;
}

.ContributeContainer{
  overflow: hidden;
}

.CommunityCard{
  margin: 5px;
}

.Community{
  background-color: lightblue;
  padding: 10px;
}
.Song{
  margin-bottom: 5px;
}

.EditCard{
  margin:auto
}

.CommunityCardContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} 

form{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.Contribute{
  display:flex;
  justify-content:space-evenly;
}

.EditForm{
  width: 50%;
}

.EditPage{
  display: flex;
  flex-direction: column;
}

.ArtistContainer{
  height: 100%;
  background-color: lightblue;
}

.ArtistPage{
  display: flex;
  justify-content: space-evenly;
  background-color: lightblue;
}


.AlbumPage{
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.Song-P{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: auto;
}

.PageImage{
  width: 50%;
  margin: auto;
}

.FormContainer{
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 25%;
  margin: auto;  
}

.FormContainer ul{
  list-style-type: none;
}

.FormContainer label{
  font-weight: bold;
  margin: 5px;
}

.SubmitButton{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  width: 50%;
}

.SubmitButton:hover{
  background-color: #029660
}

.ProfileContainer{
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0;
  top: 0;
  height: 100vh;
  width:200px;
  background-color: #7e8dd1;
  filter: drop-shadow(2px 4px 6px black);
  padding: 10px;
  align-items: center;
}

.ProfileInnerContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.ProfileButton{
  text-decoration: underline;
  background: transparent;
  border: none;
  font-size: 1.2rem;
  margin-top: 20px;
}
.ProfileButton:hover{
  text-decoration: none;
  background: red;
  color: white;
  border: black;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.NavLinks{
  display: flex;
  flex-direction: column;
}

.NavLinks a{
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

.NavLinks a:hover{
  background-color: black;
  color: white;
}